In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"D:\Ultimate Programming\Data Bases\Project Dataset\price of a Football player.csv")
df.head(2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3.0,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2.0,Germany,0,4,1,1,0

In [3]:
df['market_value'] = df.pop('market_value')

q1 = df['page_views'].quantile(0.25)
q3 = df['page_views'].quantile(0.75)
iqr = q3 - q1
min_range = q1 - iqr*1.5
max_range = q3 + iqr*1.5

df = df[df['page_views']<max_range]

In [4]:
df.head(3)

,name,club,age,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,market_value
2,Petr Cech,Arsenal,35,GK,4,1529,5.5,5.90%,134,2.0,Czech Republic,0,6,1,1,0,7.0
4,Laurent Koscielny,Arsenal,31,CB,3,912,6.0,0.70%,121,2.0,France,0,4,1,1,0,22.0
5,Hector Bellerin,Arsenal,22,RB,3,1675,6.0,13.70%,119,2.0,Spain,0,2,1,1,0,30.0

In [5]:
# Encoding the dataset
from sklearn.preprocessing import LabelEncoder
name = df.drop('name', axis=1, inplace=True)
le = LabelEncoder()
for col in df.select_dtypes(include='object').columns:
    df[col] = le.fit_transform(df[col])

In [6]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
for col in df.select_dtypes(include=['int64', 'float64']).columns :
    df[col] = ss.fit_transform(df[[col]])

In [7]:
df.shape

(423, 16)